In [ ]:
import pyspark
import pandas as pd

In [54]:
rk = pd.read_csv('ruangan-kampus.csv', sep=';', engine='python', dtype=str, on_bad_lines='warn')
rk

       RUANGAN KAPASITAS NORMAL KAPASITAS UJIAN
0     KTT 1.02               45              23
1     KTT 1.03               45              23
2     KTT 1.04               45              23
3     KTT 1.05               45              23
4     KTT 1.06               45              23
5     KTT 1.07               45              23
6     KTT 1.08               45              23
7     KTT 1.09               45              23
8   KTT A-1.06               45              23
9     KTT 1.16               45              23
10    KTT 1.17               45              23
11    KTT 1.18               45              23
12    KTT 1.19               45              23
13    KTT 1.20               45              23
14    KTT 1.21               45              23
15    KTT 1.22               45              23
16  KTT B-1.05               45              23
17  KTT B-1.06               45              23
18   KTT 1.27B               80              40
19  KTT B-1.08               45              23
20  KTT B-1.07               45              23
21  KTT A-1.07               45              23
22    KTT 1.32               40              20
23    KTT 2.02               45              23
24    KTT 2.03               45              23
25    KTT 2.04               45              23
26    KTT 2.05               45              23
27    KTT 2.06               45              23
28    KTT 2.07               45              23
29    KTT 2.08               45              23
30    KTT 2.09               45              23
31    KTT 2.14               45              23
32    KTT 2.15               45              23
33    KTT 2.16               45              23
34    KTT 2.17               45              23
35    KTT 2.18               45              23
36    KTT 2.19               45              23
37    KTT 2.20               45              23
38    KTT 2.21               45              23
39    KTT 2.23               45              23
40    KTT 2.24               45              23
41    KTT 2.25               45              23
42    KTT 2.26               45              23
43    KTT 2.27               45              23
44    KTT 2.28               45              23
45    KTT 2.29               35              18
46    KTT 2.32               45              23
47  KTT A-1.03               45              23
48  KTT A-1.04               45              23
49    KTT 2.35               45              23
50    KTT 2.36               45              23
51    KTT 2.37               45              23
52        AULA              200             150

In [55]:
from pyspark.sql import SparkSession

In [56]:
spark = SparkSession.builder.appName("Midterm Project").getOrCreate()

In [57]:
spark

In [58]:
df_rk_pyspark = spark.read.csv('ruangan-kampus.csv', sep=';', header=True, inferSchema=True)

In [60]:
df_rk_pyspark.show()

df_rk_pyspark.printSchema()

df_rk_pyspark.describe().show()

+----------+----------------+---------------+
|   RUANGAN|KAPASITAS NORMAL|KAPASITAS UJIAN|
+----------+----------------+---------------+
|  KTT 1.02|              45|             23|
|  KTT 1.03|              45|             23|
|  KTT 1.04|              45|             23|
|  KTT 1.05|              45|             23|
|  KTT 1.06|              45|             23|
|  KTT 1.07|              45|             23|
|  KTT 1.08|              45|             23|
|  KTT 1.09|              45|             23|
|KTT A-1.06|              45|             23|
|  KTT 1.16|              45|             23|
|  KTT 1.17|              45|             23|
|  KTT 1.18|              45|             23|
|  KTT 1.19|              45|             23|
|  KTT 1.20|              45|             23|
|  KTT 1.21|              45|             23|
|  KTT 1.22|              45|             23|
|KTT B-1.05|              45|             23|
|KTT B-1.06|              45|             23|
| KTT 1.27B|              80|             40|
|KTT B-1.08|              45|             23|
+----------+----------------+---------------+
only showing top 20 rows
root
 |-- RUANGAN: string (nullable = true)
 |-- KAPASITAS NORMAL: integer (nullable = true)
 |-- KAPASITAS UJIAN: integer (nullable = true)

+-------+----------+------------------+------------------+
|summary|   RUANGAN|  KAPASITAS NORMAL|   KAPASITAS UJIAN|
+-------+----------+------------------+------------------+
|  count|        53|                53|                53|
|   mean|      NULL|48.301886792452834|25.566037735849058|
| stddev|      NULL|21.837322414108073| 17.59754073067539|
|    min|      AULA|                35|                18|
|    max|KTT B-1.08|               200|               150|
+-------+----------+------------------+------------------+